<div class="canvas-container" #container></div>
<div class="camera-debug" *ngIf="camera">
  <!-- <div><strong>Position</strong>: x: {{ camera.position.x | number:'1.2-2' }}, y: {{ camera.position.y | number:'1.2-2' }}, z: {{ camera.position.z | number:'1.2-2' }}</div> -->
  <!-- <div><strong>Rotation</strong>: x: {{ camera.rotation.x | number:'1.2-2' }}, y: {{ camera.rotation.y | number:'1.2-2' }}, z: {{ camera.rotation.z | number:'1.2-2' }}</div> -->
  <div class="hint">Fly Controls: W/S forward/back, A/D left/right, R/F up/down, Q/E roll, mouse look (hold to look)</div>
</div>
